# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# Ignore secret key
*.secret_key

# Ignore IDE files
.vscode/
.idea/

# Ignore local settings file
local_settings.py
